<div class="container">
  <% if @range == "User" %>
    <table class="table">
      <thead>
        <th>image</th>
        <th>name</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
          <td><%= user.name %></td>
          <td>フォロー数:<%= user.followings.count %></td>
          <td>フォロワー数:<%= user.followers.count %></td>
          <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <% else %>
    <table class="table">
      <thead>
        <th>User</th>
        <th>Title</th>
        <th>Option</th>
      </thead>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>